<title>Hope4Ohio</title>
<i><i><i><i><i><i></i></i></i></i></i></i>
nav: ul
  - var i = 0;
    while (i++ < 1)
      li Search by ZIP
      li Search by City
        ul(class="drop-menu menu-#{i}")
          li Enter City
          li Akron, OH
          li Cleveland, OH
          li Kent, OH
          li Columbus, OH
          li Cincinnati, OH

